__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
.ipynb_checkpoints/

# dados pesados (nao versionar rasters/zip grandes)
data/raw/compressed/
data/raw/_extr/
data/raw/*.tif
*.tar.gz
*.zip
*.shp
*.shx
*.dbf
*.prj

# saidas locais
data/processed/*.csv
.DS_Store
.directory
